# Gọi API
requests

# Biến môi trường
python-dotenv

# Thư viện YARA
yara-python

# GUI
customtkinter>=5.2.2

# Hỗ trợ đọc stream OLE khi quét YARA
olefile>=0.47

# Hỗ trợ giải nén ZIP mã hóa AES
pyzipper>=0.3.6

